/* ==========================================================================
   Table of Content
   ==========================================================================
   
    Header
        News
        Sports
        nba
        epl
        mls
        nascar
        aaf
        Extra
        
    Content
        Articles
            News
            Sports
            nba
            epl
            mls
            nascar
            aaf
        
        Reviews
        Archive
        Buttons
    
    Sidebar
    Footer
    
    

/* ==========================================================================
   Header
   ========================================================================== */


/**
 * News
 */

#header-navigation ul li.cat-news a,
#header-navigation ul li.cat-news .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-news .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-news a {
    border-color: #ef3434;
}

#header-navigation ul li.cat-news .subnav-menu,
#header-navigation ul li.cat-news:hover .subnav-menu a,
#header-navigation ul li.cat-news .dropnav-container ul li a:hover {
    background: #ef3434;
}

#header-navigation ul li.cat-news a:hover,
#header-navigation ul li.cat-news:hover a,
#header-navigation ul li.cat-news.current a,
#header-navigation ul li.cat-news .subnav-container,
#header-navigation ul li.cat-news .subnav-menu a:hover,
#header-navigation ul li.cat-news .subnav-menu .current a,
#header-navigation-sub nav.cat-news,
.sidr ul li.cat-news a:hover {
    background: #c13636;
}

.linkbox.cat-news a:hover .overlay {
    background: rgba(239, 52, 52, 0.8);
}

/**
*Home
*/
#header-navigation ul li.home a,
#header-navigation ul li.home .dropnav-container ul.dropnav-menu,
#header-navigation ul li.home .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-nfl a {
    border-color: #fff;
}

#header-navigation ul li.home .subnav-menu,
#header-navigation ul li.home:hover .subnav-menu a,
#header-navigation ul li.home .dropnav-container ul li a:hover {

	height:40px;
}

#header-navigation ul li.home a:hover,
#header-navigation ul li.home:hover a,
#header-navigation ul li.home.current a,
#header-navigation ul li.home .subnav-container,
#header-navigation ul li.home .subnav-menu a:hover,
#header-navigation ul li.home .subnav-menu .current a,
#header-navigation-sub nav.home,
.sidr ul li.home a:hover {
    background: #222;	height:40px;

}



/**
 * NFL
 */

#header-navigation ul li.cat-nfl a,
#header-navigation ul li.cat-nfl .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-nfl .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-nfl a {
    border-color: #ff3333;
}
#header-navigation ul li.cat-nfl .subnav-menu,
#header-navigation ul li.cat-nfl:hover .subnav-menu a,
#header-navigation ul li.cat-nfl .dropnav-container ul li a:hover {
    background: #ff3333;
}
#header-navigation ul li.cat-nfl.active a,
#header-navigation ul li.cat-nfl a:hover,
#header-navigation ul li.cat-nfl:hover a,
#header-navigation ul li.cat-nfl.current a,
#header-navigation ul li.cat-nfl .subnav-container,
#header-navigation ul li.cat-nfl .subnav-menu a:hover,
#header-navigation ul li.cat-nfl .subnav-menu .current a,
#header-navigation-sub nav.cat-nfl,
.sidr ul li.cat-nfl a:hover,
#header-navigation-sub nav.cat-nfl .dropit-submenu {
    background: #cc3333;
}

.linkbox.cat-sports a:hover .overlay {
    background:rgba(72, 144, 205, 0.8);
}

#mobile-subheader.cat-nfl{
    background: #cc3333;
}

/**
 * MLB
 */

#header-navigation ul li.cat-mlb a,
#header-navigation ul li.cat-mlb .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-mlb .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-sports a {
    border-color: #51a3ff;
}

#header-navigation ul li.cat-mlb .subnav-menu,
#header-navigation ul li.cat-mlb:hover .subnav-menu a,
#header-navigation ul li.cat-mlb .dropnav-container ul li a:hover {
    background: #51a3ff;
}
#header-navigation ul li.cat-mlb.active a,
#header-navigation ul li.cat-mlb a:hover,
#header-navigation ul li.cat-mlb:hover a,
#header-navigation ul li.cat-mlb.current a,
#header-navigation ul li.cat-mlb .subnav-container,
#header-navigation ul li.cat-mlb .subnav-menu a:hover,
#header-navigation ul li.cat-mlb .subnav-menu .current a,
#header-navigation-sub nav.cat-mlb,
.sidr ul li.cat-mlb a:hover,
#header-navigation-sub nav.cat-mlb .dropit-submenu {
    background: #4a84c4;
}


#mobile-subheader.cat-mlb{
    background: #4a84c4;
}
/**
 * nba
 */

#header-navigation ul li.cat-nba a,
#header-navigation ul li.cat-nba .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-nba .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-nba a {
    border-color: #fcd810;
}

#header-navigation ul li.cat-nba .subnav-menu,
#header-navigation ul li.cat-nba:hover .subnav-menu a,
#header-navigation ul li.cat-nba .dropnav-container ul li a:hover {
    background: #fbc222;
}

#header-navigation ul li.cat-nba a:hover,
#header-navigation ul li.cat-nba:hover a,
#header-navigation ul li.cat-nba.current a,
#header-navigation ul li.cat-nba .subnav-container,
#header-navigation ul li.cat-nba .subnav-menu a:hover,
#header-navigation ul li.cat-nba .subnav-menu .current a,
#header-navigation-sub nav.cat-nba,
#header-navigation ul li.cat-nba.active,
.sidr ul li.cat-nba a:hover,
#header-navigation-sub nav.cat-nba .dropit-submenu {
    background: #cc9900;
}

.linkbox.cat-nba a:hover .overlay {
    background: rgba(212, 202, 86, 0.8);
}


#mobile-subheader.cat-nba{
    background: #cc9900;
}


/**
 * nhl
 */

#header-navigation ul li.cat-nhl a,
#header-navigation ul li.cat-nhl .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-nhl .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-nhl a {
    border-color: #5dc866;
}

#header-navigation ul li.cat-nhl .subnav-menu,
#header-navigation ul li.cat-nhl:hover .subnav-menu a,
#header-navigation ul li.cat-nhl .dropnav-container ul li a:hover {
    background: #5dc866;
}

#header-navigation ul li.cat-nhl a:hover,
#header-navigation ul li.cat-nhl:hover a,
#header-navigation ul li.cat-nhl.current a,
#header-navigation ul li.cat-nhl .subnav-container,
#header-navigation ul li.cat-nhl .subnav-menu a:hover,
#header-navigation ul li.cat-nhl .subnav-menu .current a,
#header-navigation-sub nav.cat-nhl,
#header-navigation ul li.cat-nhl.active,
.sidr ul li.cat-nhl a:hover,
#header-navigation-sub nav.cat-nhl .dropit-submenu {
    background: #55985b;
}

.linkbox.cat-nhl a:hover .overlay {
    background: rgba(204, 98, 200, 0.8);
}


#mobile-subheader.cat-nhl{
    background: #55985b;
}


/**
 * nwhl
 */

#header-navigation ul li.cat-nwhl a,
#header-navigation ul li.cat-nwhl .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-nwhl .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-nhl a {
    border-color: #5dc866;
}

#header-navigation ul li.cat-nwhl .subnav-menu,
#header-navigation ul li.cat-nwhl:hover .subnav-menu a,
#header-navigation ul li.cat-nwhl .dropnav-container ul li a:hover {
    background: #5dc866;
}

#header-navigation ul li.cat-nwhl a:hover,
#header-navigation ul li.cat-nwhl:hover a,
#header-navigation ul li.cat-nwhl.current a,
#header-navigation ul li.cat-nwhl .subnav-container,
#header-navigation ul li.cat-nwhl .subnav-menu a:hover,
#header-navigation ul li.cat-nwhl .subnav-menu .current a,
#header-navigation-sub nav.cat-nwhl,
#header-navigation ul li.cat-nwhl.active,
.sidr ul li.cat-nwhl a:hover,
#header-navigation-sub nav.cat-nwhl .dropit-submenu {
    background: #55985b;
}

.linkbox.cat-nwhl a:hover .overlay {
    background: rgba(204, 98, 200, 0.8);
}


#mobile-subheader.cat-nwhl{
    background: #55985b;
}


/**
 * phf
 */

#header-navigation ul li.cat-phf a,
#header-navigation ul li.cat-phf .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-phf .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-nhl a {
    border-color: #5dc866;
}

#header-navigation ul li.cat-phf .subnav-menu,
#header-navigation ul li.cat-phf:hover .subnav-menu a,
#header-navigation ul li.cat-phf .dropnav-container ul li a:hover {
    background: #5dc866;
}

#header-navigation ul li.cat-phf a:hover,
#header-navigation ul li.cat-phf:hover a,
#header-navigation ul li.cat-phf.current a,
#header-navigation ul li.cat-phf .subnav-container,
#header-navigation ul li.cat-phf .subnav-menu a:hover,
#header-navigation ul li.cat-phf .subnav-menu .current a,
#header-navigation-sub nav.cat-phf,
#header-navigation ul li.cat-phf.active,
.sidr ul li.cat-phf a:hover,
#header-navigation-sub nav.cat-phf .dropit-submenu {
    background: #55985b;
}

.linkbox.cat-phf a:hover .overlay {
    background: rgba(204, 98, 200, 0.8);
}


#mobile-subheader.cat-phf{
    background: #55985b;
}

/**
 * mls
 */

#header-navigation ul li.cat-mls a,
#header-navigation ul li.cat-mls .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-mls .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-mls a {
    border-color: #7c232f;
}

#header-navigation ul li.cat-mls .subnav-menu,
#header-navigation ul li.cat-mls:hover .subnav-menu a,
#header-navigation ul li.cat-mls .dropnav-container ul li a:hover {
    background: #570f18;
}

#header-navigation ul li.cat-mls.active a,
#header-navigation ul li.cat-mls a:hover,
#header-navigation ul li.cat-mls:hover a,
#header-navigation ul li.cat-mls.current a,
#header-navigation ul li.cat-mls .subnav-container,
#header-navigation ul li.cat-mls .subnav-menu a:hover,
#header-navigation ul li.cat-mls .subnav-menu .current a,
#header-navigation-sub nav.cat-mls,
.sidr ul li.cat-mls a:hover {
    background:#391423;
}

.linkbox.cat-mls a:hover .overlay {
    background: rgba(111, 158, 211, 0.8);
}


#mobile-subheader.cat-mls{
    background: #7c232f;
}

/**
 * wnba
 */

#header-navigation ul li.cat-wnba a,
#header-navigation ul li.cat-wnba .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-wnba .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-wnba a {
    border-color: #f47d21;
}

#header-navigation ul li.cat-wnba .subnav-menu,
#header-navigation ul li.cat-wnba:hover .subnav-menu a,
#header-navigation ul li.cat-wnba .dropnav-container ul li a:hover {
    background: #f47d21;
}

#header-navigation ul li.cat-wnba.active a,
#header-navigation ul li.cat-wnba a:hover,
#header-navigation ul li.cat-wnba:hover a,
#header-navigation ul li.cat-wnba.current a,
#header-navigation ul li.cat-wnba .subnav-container,
#header-navigation ul li.cat-wnba .subnav-menu a:hover,
#header-navigation ul li.cat-wnba .subnav-menu .current a,
#header-navigation-sub nav.cat-wnba,
.sidr ul li.cat-wnba a:hover {
    background:#dd6f1a;
}
#header-navigation-sub nav.cat-wnba .dropit-submenu {
    background: #f47d21;
}

.linkbox.cat-wnba a:hover .overlay {
    background: rgba(111, 158, 211, 0.8);
}

#mobile-subheader.cat-wnba{
    background: #dd6f1a;
}


/**
 * nwsl
 */

#header-navigation ul li.cat-nwsl a,
#header-navigation ul li.cat-nwsl .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-nwsl .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-nwsl a {
    border-color: #22325d;
}

#header-navigation ul li.cat-nwsl .subnav-menu,
#header-navigation ul li.cat-nwsl:hover .subnav-menu a,
#header-navigation ul li.cat-nwsl .dropnav-container ul li a:hover {
    background: #1b2950;
}

#header-navigation ul li.cat-nwsl.active a,
#header-navigation ul li.cat-nwsl a:hover,
#header-navigation ul li.cat-wnba:hover a,
#header-navigation ul li.cat-nwsl.current a,
#header-navigation ul li.cat-nwsl .subnav-container,
#header-navigation ul li.cat-nwsl .subnav-menu a:hover,
#header-navigation ul li.cat-nwsl .subnav-menu .current a,
#header-navigation-sub nav.cat-nwsl,
.sidr ul li.cat-nwsl a:hover {
    background:#391423;
}
#header-navigation-sub nav.cat-nwsl .dropit-submenu {
    background: #22325d;
}

.linkbox.cat-nwsl a:hover .overlay {
    background: rgba(111, 158, 211, 0.8);
}

#mobile-subheader.cat-nwsl{
    background: #1b2950;
}


/**
 * pga
 */

#header-navigation ul li.cat-pga a,
#header-navigation ul li.cat-pga .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-pga .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-wnba a {
    border-color: #336633;
}

#header-navigation ul li.cat-pga .subnav-menu,
#header-navigation ul li.cat-pga:hover .subnav-menu a,
#header-navigation ul li.cat-pga .dropnav-container ul li a:hover {
    background: #2b552b;
}

#header-navigation ul li.cat-pga.active a,
#header-navigation ul li.cat-pga a:hover,
#header-navigation ul li.cat-pga:hover a,
#header-navigation ul li.cat-pga.current a,
#header-navigation ul li.cat-pga .subnav-container,
#header-navigation ul li.cat-pga .subnav-menu a:hover,
#header-navigation ul li.cat-pga .subnav-menu .current a,
#header-navigation-sub nav.cat-pga,
.sidr ul li.cat-pga a:hover {
    background:#336633;
}
#header-navigation-sub nav.cat-pga .dropit-submenu {
    background: #f47d21;
}

.linkbox.cat-pga a:hover .overlay {
    background: rgba(111, 158, 211, 0.8);
}

#mobile-subheader.cat-pga{
    background: #336633;
}


/**
 * lpga
 */

#header-navigation ul li.cat-lpga a,
#header-navigation ul li.cat-lpga .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-lpga .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-lpga a {
    border-color: #336633;
}

#header-navigation ul li.cat-lpga .subnav-menu,
#header-navigation ul li.cat-lpga:hover .subnav-menu a,
#header-navigation ul li.cat-lpga .dropnav-container ul li a:hover {
    background: #2b552b;
}

#header-navigation ul li.cat-lpga.active a,
#header-navigation ul li.cat-lpga a:hover,
#header-navigation ul li.cat-lpga:hover a,
#header-navigation ul li.cat-lpga.current a,
#header-navigation ul li.cat-lpga .subnav-container,
#header-navigation ul li.cat-lpga .subnav-menu a:hover,
#header-navigation ul li.cat-lpga .subnav-menu .current a,
#header-navigation-sub nav.cat-lpga,
.sidr ul li.cat-lpga a:hover {
    background:#336633;
}
#header-navigation-sub nav.cat-lpga .dropit-submenu {
    background: #f47d21;
}

.linkbox.cat-lpga a:hover .overlay {
    background: rgba(111, 158, 211, 0.8);
}

#mobile-subheader.cat-lpga{
    background: #336633;
}


/**
 * liv
 */

#header-navigation ul li.cat-liv a,
#header-navigation ul li.cat-liv .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-liv .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-wnba a {
    border-color: #336633;
}

#header-navigation ul li.cat-liv .subnav-menu,
#header-navigation ul li.cat-liv:hover .subnav-menu a,
#header-navigation ul li.cat-liv .dropnav-container ul li a:hover {
    background: #2b552b;
}

#header-navigation ul li.cat-liv.active a,
#header-navigation ul li.cat-liv a:hover,
#header-navigation ul li.cat-liv:hover a,
#header-navigation ul li.cat-liv.current a,
#header-navigation ul li.cat-liv .subnav-container,
#header-navigation ul li.cat-liv .subnav-menu a:hover,
#header-navigation ul li.cat-liv .subnav-menu .current a,
#header-navigation-sub nav.cat-liv,
.sidr ul li.cat-liv a:hover {
    background:#336633;
}
#header-navigation-sub nav.cat-liv .dropit-submenu {
    background: #f47d21;
}

.linkbox.cat-liv a:hover .overlay {
    background: rgba(111, 158, 211, 0.8);
}

#mobile-subheader.cat-liv{
    background: #336633;
}

/**
 * pga
 */

#header-navigation ul li.cat-dpworld a,
#header-navigation ul li.cat-dpworld .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-dpworld .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-wnba a {
    border-color: #336633;
}

#header-navigation ul li.cat-dpworld .subnav-menu,
#header-navigation ul li.cat-dpworld:hover .subnav-menu a,
#header-navigation ul li.cat-dpworld .dropnav-container ul li a:hover {
    background: #2b552b;
}

#header-navigation ul li.cat-dpworld.active a,
#header-navigation ul li.cat-dpworld a:hover,
#header-navigation ul li.cat-dpworld:hover a,
#header-navigation ul li.cat-dpworld.current a,
#header-navigation ul li.cat-dpworld .subnav-container,
#header-navigation ul li.cat-dpworld .subnav-menu a:hover,
#header-navigation ul li.cat-dpworld .subnav-menu .current a,
#header-navigation-sub nav.cat-dpworld,
.sidr ul li.cat-dpworld a:hover {
    background:#336633;
}
#header-navigation-sub nav.cat-dpworld .dropit-submenu {
    background: #f47d21;
}

.linkbox.cat-dpworld a:hover .overlay {
    background: rgba(111, 158, 211, 0.8);
}

#mobile-subheader.cat-dpworld{
    background: #336633;
}

/**
 * AAF
 */

#header-navigation ul li.cat-aaf a {
    border-color: #193768;
}

#header-navigation ul li.cat-aaf.active a,
#header-navigation ul li.cat-aaf a:hover,
#header-navigation ul li.cat-aaf:hover a,
#header-navigation ul li.cat-aaf.current a,
#header-navigation ul li.cat-aaf .subnav-container,
#header-navigation ul li.cat-aaf .subnav-menu a:hover,
#header-navigation ul li.cat-aaf .subnav-menu .current a,
#header-navigation-sub nav.cat-aaf,
.sidr ul li.cat-aaf a:hover {
    background: #234274;
}
#header-navigation ul li.cat-aaf  ul.dropnav-menu{background:red !important;margin-top:-10px !important;border:1px solid #315084 !important;z-index:10000000 !important;}
#header-navigation ul li.cat-aaf .dropnav-container ul.dropnav-menu li {border:0px !important;border-bottom:1px solid #f3f3f3 !important;background:none !important;}
#header-navigation ul li.cat-aaf .dropnav-container ul.dropnav-menu li:last-child { border-bottom:0px !important;}
#header-navigation ul li.cat-aaf .dropnav-container ul.dropnav-menu li:hover { background:#315084 !important;}
#header-navigation ul li.cat-aaf .dropnav-container ul.dropnav-menu li a:hover { color:#3f3f3f !important;}


/**
 * FORMULA1
 */

#header-navigation ul li.cat-formula1 a,
#header-navigation ul li.cat-formula1 .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-formula1 .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-formula1 a {
    border-color: #444444;
}

#header-navigation ul li.cat-formula1 .subnav-menu,
#header-navigation ul li.cat-formula1:hover .subnav-menu a,
#header-navigation ul li.cat-formula1 .dropnav-container ul li a:hover {
    background: #444;
}

#header-navigation ul li.cat-formula1.active a,
#header-navigation ul li.cat-formula1 a:hover,
#header-navigation ul li.cat-formula1:hover a,
#header-navigation ul li.cat-formula1.current a,
#header-navigation ul li.cat-formula1 .subnav-container,
#header-navigation ul li.cat-formula1 .subnav-menu a:hover,
#header-navigation ul li.cat-formula1 .subnav-menu .current a,
#header-navigation-sub nav.cat-formula1,
.sidr ul li.cat-formula1 a:hover {
    background:#111;
}
#header-navigation-sub nav.cat-formula1 .dropit-submenu {
    background: #111111;
}

.linkbox.cat-formula1 a:hover .overlay {
    background: rgba(111, 158, 211, 0.8);
}


#mobile-subheader.cat-formula1{
    background: #ffffff;
}


/**
 * NASCAR
 */

#header-navigation ul li.cat-nascar a {
    border-color: #fecd1c;
}

#header-navigation ul li.cat-nascar.active a,
#header-navigation ul li.cat-nascar a:hover,
#header-navigation ul li.cat-nascar:hover a,
#header-navigation ul li.cat-nascar.current a,
#header-navigation ul li.cat-nascar .subnav-container,
#header-navigation ul li.cat-nascar .subnav-menu a:hover,
#header-navigation ul li.cat-nascar .subnav-menu .current a,
#header-navigation-sub nav.cat-nascar,
.sidr ul li.cat-nascar a:hover {
    background: #111;
}
#header-navigation ul li.cat-nascar  ul.dropnav-menu{background:red !important;margin-top:-10px !important;border:1px solid #71637D !important;z-index:10000000 !important;}
#header-navigation ul li.cat-nascar .dropnav-container ul.dropnav-menu li {border:0px !important;border-bottom:1px solid #f3f3f3 !important;background:none !important;}
#header-navigation ul li.cat-nascar .dropnav-container ul.dropnav-menu li:last-child { border-bottom:0px !important;}
#header-navigation ul li.cat-nascar .dropnav-container ul.dropnav-menu li:hover { background:#71637D !important;}
#header-navigation ul li.cat-nascar .dropnav-container ul.dropnav-menu li a:hover { color:#3f3f3f !important;}

/**
 * ATP/WTA
 */

#header-navigation ul li.cat-atp a {
    border-color: #dfff4f;
}

#header-navigation ul li.cat-atp.active a,
#header-navigation ul li.cat-atp a:hover,
#header-navigation ul li.cat-atp:hover a,
#header-navigation ul li.cat-atp.current a,
#header-navigation ul li.cat-atp .subnav-container,
#header-navigation ul li.cat-atp .subnav-menu a:hover,
#header-navigation ul li.cat-atp .subnav-menu .current a,
#header-navigation-sub nav.cat-atp,
.sidr ul li.cat-atp a:hover {
    background: #dfff4f;
	 color:#3f3f3f !important;
}
#header-navigation ul li.cat-atp  ul.dropnav-menu{background:red !important;margin-top:-10px !important;border:1px solid #dfff4f !important;z-index:10000000 !important;color: black;}
#header-navigation ul li.cat-atp .dropnav-container ul.dropnav-menu li {border:0px !important;border-bottom:1px solid black !important;background:none !important;color: black;}
#header-navigation ul li.cat-atp .dropnav-container ul.dropnav-menu li:last-child { border-bottom:0px !important;}
#header-navigation ul li.cat-atp .dropnav-container ul.dropnav-menu li:hover { background:##dfff4f !important;color: black;}
#header-navigation ul li.cat-atp .dropnav-container ul.dropnav-menu li a:hover { color:#3f3f3f !important;}


#header-navigation ul li.cat-wta a {
    border-color: #dfff4f;
}

#header-navigation ul li.cat-wta.active a,
#header-navigation ul li.cat-wta a:hover,
#header-navigation ul li.cat-wta:hover a,
#header-navigation ul li.cat-wta.current a,
#header-navigation ul li.cat-wta .subnav-container,
#header-navigation ul li.cat-wta .subnav-menu a:hover,
#header-navigation ul li.cat-wta .subnav-menu .current a,
#header-navigation-sub nav.cat-wta,
.sidr ul li.cat-wta a:hover {
    background: #dfff4f;
	 color:#3f3f3f !important;
}
#header-navigation ul li.cat-wta  ul.dropnav-menu{background:red !important;margin-top:-10px !important;border:1px solid #dfff4f !important;z-index:10000000 !important;}
#header-navigation ul li.cat-wta .dropnav-container ul.dropnav-menu li {border:0px !important;border-bottom:1px solid black !important;background:none !important;}
#header-navigation ul li.cat-wta .dropnav-container ul.dropnav-menu li:last-child { border-bottom:0px !important;}
#header-navigation ul li.cat-wta .dropnav-container ul.dropnav-menu li:hover { background:##dfff4f !important;}
#header-navigation ul li.cat-wta .dropnav-container ul.dropnav-menu li a:hover { color:#3f3f3f !important;}


/**
 * ESPORTS
 */
#header-navigation ul li.cat-esports a,
#header-navigation ul li.cat-esports .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-esports .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-esports a {
    border-color: #22325d;
}

#header-navigation ul li.cat-esports .subnav-menu,
#header-navigation ul li.cat-esports:hover .subnav-menu a,
#header-navigation ul li.cat-esports .dropnav-container ul li a:hover {
    background: #22325d;
}

#header-navigation ul li.cat-esports a {
    border-color: #444444;
}

#header-navigation ul li.cat-esports.active a,
#header-navigation ul li.cat-esports a:hover,
#header-navigation ul li.cat-esports:hover a,
#header-navigation ul li.cat-esports.current a,
#header-navigation ul li.cat-esports .subnav-container,
#header-navigation ul li.cat-esports .subnav-menu a:hover,
#header-navigation ul li.cat-esports .subnav-menu .current a,
#header-navigation-sub nav.cat-esports,
.sidr ul li.cat-esports a:hover {
    background: #22325d;
	 color:white !important;
}
#header-navigation ul li.cat-esports  ul.dropnav-menu{background:red !important;margin-top:-10px !important;border:1px solid #444444 !important;z-index:10000000 !important;color: black;}
#header-navigation ul li.cat-esports .dropnav-container ul.dropnav-menu li {border:0px !important;border-bottom:1px solid black !important;background:none !important;color: black;}
#header-navigation ul li.cat-esports .dropnav-container ul.dropnav-menu li:last-child { border-bottom:0px !important;}
#header-navigation ul li.cat-esports .dropnav-container ul.dropnav-menu li:hover { background:#22325d !important;color: black;}
#header-navigation ul li.cat-esports .dropnav-container ul.dropnav-menu li a:hover { color:white !important;}


/**
 * EPL
 */

#header-navigation ul li.cat-epl a,
#header-navigation ul li.cat-epl .dropnav-container ul.dropnav-menu,
#header-navigation ul li.cat-epl .dropnav-container ul.dropnav-menu li,
.sidr ul li.cat-epl a {
    border-color: #60223B;
}

#header-navigation ul li.cat-epl .subnav-menu,
#header-navigation ul li.cat-epl:hover .subnav-menu a,
#header-navigation ul li.cat-epl .dropnav-container ul li a:hover {
    background: #60223B;
}

#header-navigation ul li.cat-epl.active a,
#header-navigation ul li.cat-epl a:hover,
#header-navigation ul li.cat-epl:hover a,
#header-navigation ul li.cat-epl.current a,
#header-navigation ul li.cat-epl .subnav-container,
#header-navigation ul li.cat-epl .subnav-menu a:hover,
#header-navigation ul li.cat-epl .subnav-menu .current a,
#header-navigation-sub nav.cat-epl,
#header-navigation ul li.cat-epl.active,
.sidr ul li.cat-epl a:hover,
#header-navigation-sub nav.cat-epl .dropit-submenu {
    background: #391423;
}
#header-navigation ul li.cat-epl .menu-list li a:hover {
    color: gold;
}

.linkbox.cat-epl a:hover .overlay {
    background: rgba(204, 98, 200, 0.8);
}


#mobile-subheader.cat-epl{
    background: #391423;
}


/* ==========================================================================
   Content
   ========================================================================== */

/**
 * Articles
 */

/**
 * News
 */

article.cat-news a.theme,
article a.theme.cat-news,
#page-content .section-news header span.borderline,
#page-content .cat-news .theme,
#article-post.cat-news .progress-bar,
#article-post.cat-news .score-overall {
    background: #ef3434;
}

.section-news header h2 a,
#article-post.cat-news .review ul.good li i.fa {
    color: #ef3434;
}

/**
 * MLB
 */

article.cat-mlb a.theme,
article a.theme.cat-mlb,
#page-content .section-mlb header span.borderline,
#page-content .cat-mlb .theme,
#article-post.cat-mlb .progress-bar,
#article-post.cat-mlb .score-overall {
    background: #51a3ff;
}

.section-mlb header h2 a,
#article-post.cat-mlb .review ul.good li i.fa {
    color: #51a3ff;
}

/**
 * nba
 */

article.cat-nba a.theme,
article a.theme.cat-nba,
#page-content .section-nba header span.borderline,
#page-content .cat-nba .theme,
#article-post.cat-nba .progress-bar,
#article-post.cat-nba .score-overall {
    background: #dd7d00;
}

.section-nba header h2 a,
#article-post.cat-nba .review ul.good li i.fa {
    color: #dd7d00;
}

/**
 * epl
 */

article.cat-epl a.theme,
article a.theme.cat-epl,
#page-content .section-epl header span.borderline,
#page-content .cat-shotime .theme,
#article-post.cat-epl .progress-bar,
#article-post.cat-epl .score-overall {
    background: #cc62c8;
}

.section-epl header h2 a,
#article-post.cat-epl .review ul.good li i.fa {
    color: #cc62c8;
}

/**
 * aaf
 */

article.cat-epl a.theme,
article a.theme.cat-epl,
#page-content .section-epl header span.borderline,
#page-content .cat-shotime .theme,
#article-post.cat-epl .progress-bar,
#article-post.cat-epl .score-overall {
    background: #193768;
}

.section-epl header h2 a,
#article-post.cat-epl .review ul.good li i.fa {
    color: #193768;
}

/**
 * mls
 */

article.cat-mls a.theme,
article a.theme.cat-mls,
#page-content .section-mls header span.borderline,
#page-content .cat-mls .theme,
#article-post.cat-mls .progress-bar,
#article-post.cat-mls .score-overall {
    background: #7c232f;
}

.section-mls header h2 a,
#article-post.cat-mls .review ul.good li i.fa {
    color: #7c232f;
}


/**
 * wnba
 */

article.cat-wnba a.theme,
article a.theme.cat-wnba,
#page-content .section-wnba header span.borderline,
#page-content .cat-wnba .theme,
#article-post.cat-wnba .progress-bar,
#article-post.cat-wnba .score-overall {
    background: #f47d21;
}

.section-wnba header h2 a,
#article-post.cat-wnba .review ul.good li i.fa {
    color: #f47d21;
}

/**
 * pga
 */

article.cat-pga a.theme,
article a.theme.cat-pga,
#page-content .section-pga header span.borderline,
#page-content .cat-pga .theme,
#article-post.cat-pga .progress-bar,
#article-post.cat-pga .score-overall {
    background: #f47d21;
}

.section-pga header h2 a,
#article-post.cat-pga .review ul.good li i.fa {
    color: #f47d21;
}

/**
 * nascar
 */

article.cat-nascar a.theme,
article a.theme.cat-nascar,
#page-content .section-nascar header span.borderline,
#page-content .cat-nascar .theme,
#article-post.cat-nascar .progress-bar,
#article-post.cat-nascar .score-overall {
    background: #fecd1c;
}

.section-nascar header h2 a,
#article-post.cat-nascar .review ul.good li i.fa {
    color: #5dc866;
}

/**
 * atp/wta
 */

article.cat-atp a.theme,
article a.theme.cat-atp,
#page-content .section-atp header span.borderline,
#page-content .cat-atp .theme,
#article-post.cat-atp .progress-bar,
#article-post.cat-atp .score-overall {
    background: #dfff4f;
}

.section-atp header h2 a,
#article-post.cat-atp .review ul.good li i.fa {
    color: #dfff4f;
}


/**
 * esports
 */

article.cat-esports a.theme,
article a.theme.cat-esports,
#page-content .section-esports header span.borderline,
#page-content .cat-esports .theme,
#article-post.cat-esports .progress-bar,
#article-post.cat-esports .score-overall {
    background: #6B3397;
}

.section-esports header h2 a,
#article-post.cat-atp .review ul.good li i.fa {
    color: #6B3397;
}


/* ==========================================================================
   Reviews
   ========================================================================== */

.cat-reviews {
    background: #444;
}

#page-content .cat-reviews header h2 {
    border-color:  #4e4e4e;
}

#page-content .cat-reviews header span.borderline {
    background: #fff;
}


/* ==========================================================================
   Archive
   ========================================================================== */

/**
 * Show MorModule timelinee
 */

#archive-page.module-timeline .cat-news a {
    color: #ef3434;
}

#archive-page.module-timeline article i.bullet-news {
    background: #ef3434;
}

#archive-page.module-timeline .cat-nfl a {
    color: #51a3ff;
}

#archive-page.module-timeline article i.bullet-sports {
    background: #51a3ff;
}

#archive-page.module-timeline .cat-nba a {
    color: #dd7d00;
}

#archive-page.module-timeline article i.bullet-nba {
    background: #dd7d00;
}

#archive-page.module-timeline .cat-epl a {
    color: #cc62c8;
}

#archive-page.module-timeline article i.bullet-epl {
    background: #cc62c8;
}

#archive-page.module-timeline .cat-mls a {
    color: #7c232f;
}

#archive-page.module-timeline article i.bullet-mls {
    background: #7c232f;
}

#archive-page.module-timeline article i.bullet-wnba {
    background: #f47d21;
}

#archive-page.module-timeline article i.bullet-pga {
    background: #f47d21;
}

#archive-page.module-timeline .cat-nascar a {
    color: #fecd1c;
}

#archive-page.module-timeline article i.bullet-nascar {
    background: #5dc866;
}


/* ==========================================================================
   Buttons
   ========================================================================== */

/**
 * Show More
 */

a.show-more.cat-news {
    background: #ef3434;
}

a.show-more.cat-nfl {
    background: #51a3ff;
}

a.show-more.cat-nba {
    background: #d4ca56;
}

a.show-more.cat-epl {
    background: #cc62c8;
}

a.show-more.cat-mls {
    background: #7c232f;
}

a.show-more.cat-wnba {
    background: #f47d21;
}

a.show-more.cat-pga {
    background: #f47d21;
}

a.show-more.cat-nascar {
    background: #fecd1c;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar span.cat-news a {
    color: #ef3434;
}

#sidebar span.cat-nfl a {
    color: #51a3ff;
}

#sidebar span.cat-nba a {
    color: #d4ca56;
}

#sidebar span.cat-epl a {
    color: #cc62c8;
}

#sidebar span.cat-mls a {
    color: #7c232f;
}

#sidebar span.cat-wnba a {
    color: #f47d21;
}

#sidebar span.cat-pga a {
    color: #f47d21;
}

#sidebar span.cat-nascar a {
    color: #fecd1c;
}

#sidebar .module-timeline article i.bullet-news {
    background: #ef3434;
}

#sidebar .module-timeline article i.bullet-sports {
    background: #51a3ff;
}

#sidebar .module-timeline article i.bullet-nba {
    background: #d4ca56;
}

#sidebar .module-timeline article i.bullet-epl {
    background: #cc62c8;
}

#sidebar .module-timeline article i.bullet-mls {
    background: #7c232f;
}

#sidebar .module-timeline article i.bullet-wnba {
    background: #f47d21;
}

#sidebar .module-timeline article i.bullet-pga {
    background: #f47d21;
}

#sidebar .module-timeline article i.bullet-nascar {
    background: #fecd1c;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#foot-menu ul li.cat-news a { border-color: #ef3434;}
#foot-menu ul li.cat-news a:hover,#foot-menu ul li.cat-news.current a {color: #c13636;}

#foot-menu ul li.cat-nfl a {    border-color: #ff3333;}
#foot-menu ul li.cat-nfl a:hover,#foot-menu ul li.cat-nfl.current a {color: #ff3333;}

#foot-menu ul li.cat-nba a {border-color: #fbc222;}
#foot-menu ul li.cat-nba a:hover,#foot-menu ul li.cat-nba.current a {color: ##fbc222;}

#foot-menu ul li.cat-mlb a { border-color: #51a3ff;}
#foot-menu ul li.cat-mlb a:hover,#foot-menu ul li.cat-mlb.current a {color: #51a3ff;}

#foot-menu ul li.cat-nhl a {border-color: #55985b;}
#foot-menu ul li.cat-nhl a:hover,#foot-menu ul li.cat-nhl.current a {color: #5dc866;}

#foot-menu ul li.cat-nwhl a {border-color: #55985b;}
#foot-menu ul li.cat-nwhl a:hover,#foot-menu ul li.cat-nwhl.current a {color: #5dc866;}

#foot-menu ul li.cat-phf a {border-color: #55985b;}
#foot-menu ul li.cat-phf a:hover,#foot-menu ul li.cat-phf.current a {color: #5dc866;}

#foot-menu ul li.cat-mls a {border-color: #7c232f;}
#foot-menu ul li.cat-mls a:hover,#foot-menu ul li.cat-mls.current a {color: #7c232f;}

#foot-menu ul li.cat-epl a {border-color: #60223B;}
#foot-menu ul li.cat-epl a:hover,#foot-menu ul li.cat-epl.current a {color: #60223B;}

#foot-menu ul li.cat-wnba a {border-color: #f47d21}
#foot-menu ul li.cat-wnba a:hover,#foot-menu ul li.cat-wnba.current a {color: #f47d21;}

#foot-menu ul li.cat-pga a {border-color: #f47d21}
#foot-menu ul li.cat-pga a:hover,#foot-menu ul li.cat-pga.current a {color: #f47d21;}

#foot-menu ul li.cat-extra a {border-color: #222}
#foot-menu ul li.cat-extra a:hover,#foot-menu ul li.cat-extra.current a {color: #222;}



