.padding5 {padding:5px !important;}
.premiumheaderwrap {background:#1d305f;display: table;vertical-align: middle;width:100%;height:30px;}


.premiumheader {background:#468ccb;overflow:hidden;float:left;padding:10px 25px 25px 25px;border:15px solid #ffffff;}
.premiumlogo {max-width:200px;}
.premimage {vertical-align: middle;position:relative;display:table-cell;height: 30px;width:auto;text-align:left;padding-left:15px;padding-top:2px;}
.premimage span {color:gold;font:600 16px/22px 'Open Sans', serif !important;letter-spacing:-0.5px;text-transform: uppercase;display: inline;}
.premimage img {width:auto;display:inline;height:16px;margin-top:-5px;margin-right:1px;}

.third-level-menu{position: absolute;top: 0;right: -200px;width: 200px;list-style: none;padding: 0;margin: 0;display: none;	z-index: 9999999;}
.third-level-menu > li {height: 30px;background: #eeeeee;}
.third-level-menu > li:hover { background: #dddddd; }
.second-level-menu{position: absolute;top: 30px;left: 0;width: 220px;list-style: none;padding: 0;margin: 0;display: none;z-index: 9999999;}
.second-level-menu > li {position: relative;height: 30px;background: #dddddd;}
.second-level-menu > li:hover { background: #eeeeee; }
.top-level-menu{list-style: none;padding: 0;margin: 0;z-index: 9999999;display:table;width:100%;}
.top-level-menu > li{position: relative;display:table-cell;height: 30px;width: auto;background: #1d305f;top:1px;line-height: 30px}
.top-level-menu > li:hover { background: #CCCCCC; }
.top-level-menu li:hover > ul {/* On hover, display the next level's menu */   display: inline;}

/* Menu Link Styles */
.top-level-menu a {font: bold 14px Arial, Helvetica, sans-serif;color: #FFFFFF;text-decoration: none;padding: 0 5px 0 5px;display: block;line-height: 30px;}
.top-level-menu a:hover { color: #1d305f; }
.second-level-menu i, .third-level-menu i {font-size:11px;}
.second-level-menu a {color:#1d305f;cursor:pointer;}


.top-level-menu li.accountli .second-level-menu a {padding-left:0px;}
.accountnav{text-align: center;position: relative;}
.accountnav ul, .top-level-menu li.accountli, .top-level-menu li.accountli a {text-align: center;}
.accountnav i {padding:0px 3px;}
.accountnav .second-level-menu {width:100%}
.premiumcontent{min-height:400px;background:#ffffff;padding:25px;display:block;overflow: hidden;}
.premiumheadertext {margin:15px 0 0 0;background:#1d305f;padding:15px;}
.premiumheadertext img {position:relative;left:0px;padding-top:15px;width:100%;max-width:250px;}
.premiumheader ul {margin-top:10px;display: inline-block;padding-left:25px;}
.premiumheader ul li {text-align: left;color:#ffffff;font:400 16px/150% 'Roboto Slab', serif !important;padding:5px 0;}
.premiumheaderprice {padding-top:5px;}
.premiumheaderprice .text{color:#1d305f !important;font-style:italic;line-height: 30px;}
.premiumheaderprice .btn {font-weight:600;font-size:16px;margin-top:15px;padding:10px 25px;}
.premiumheaderprice .btn i {font-size:14px;}
.premiumheaderprice .btn-default {background:rgb(92, 184, 92);color:#fff;border:rgb(92, 184, 92); }
.premiumheader .close {color:#ffffff;font-size:14px;opacity: 1;z-index: 100000}
.show-more.signin {width:100%;}

.signinregister {float:left;display: block;font-size:16px !important;color:#069;padding-left:10px;padding-bottom: 25px;}



@media (max-width: 767px) {
	.premiumheaderwrap {display: none;}
.premiumheader {background:#468ccb;overflow:hidden;float:left;padding:10px 25px 25px 25px;border:15px solid #ffffff;}
.premiumheadertext {padding-bottom:45px;}
.premiumheadertext img {width:100%;margin-bottom:25px;}
.premiumheader ul {float:left;margin:0px;display:block !important;text-align:left;padding:0px;}
.premiumheader ul li {margin-left:25px;padding:8px 0;}
.premiumheaderprice {padding:0px !important;}
.premiumheaderprice .btn {width:100% !important;}
.premimage {vertical-align: middle;display:block;padding:0px;text-align: center;margin:0px auto;width:100%;}
.premimage .img-responsive {max-height:none;width:50%;margin:0px auto;padding:10px 0;}
.prem-menu {text-align:center;float:none;display: block;padding:0px;}
.prem-menu li {width:100%;list-style: none;padding:0 15px;display: block;}

}


/* sidebar - college filter */
#college-filter-input-outer {
  width: 100%;
  border: 1px #e7e7e7 solid;
  border-radius: 20px;
}
#college-filter-input-outer input {
  height: 2em;
  width: 80%;
  border: 0px;
  outline: none;
  margin: 0 0 0 10px;
  border-radius: 20px;
  color: #666;
}
#clear {
  position: relative;
  float: right;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 5px;
  border-radius: 20px;
  background: #f1f1f1;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  display: none;
}
#clear:hover {
  background: #ccc;
}		