@media only screen and (min-width: 320px) and (max-width: 1199px)  {

.rtable {  
  
  vertical-align: top;
  max-width: 100%;  
  overflow-x: auto;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
  display:inline-block;
}

.rtable,
.rtable--flip tbody {
  -webkit-overflow-scrolling: touch;  
  background:radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100% !important;
  background-attachment: scroll scroll !important;
  background-repeat: no-repeat !important;
}


/*.rtable td:first-child,
.rtable--flip tbody tr:first-child {
  background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 20px 100%;
}

.rtable td:last-child,
.rtable--flip tbody tr:last-child {
  background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20px 100%;
}*/

.rtable th {
  	
}

.rtable th,
.rtable td {position:relative;
 
}

.rtable--flip {
  display: flex;
  overflow: hidden;
  background: none;
}

.rtable--flip thead {
  display: flex;
  flex-shrink: 0;
  min-width: min-content;
}

.rtable--flip tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.rtable--flip tr {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  flex-shrink: 0;
}

.rtable--flip td,
.rtable--flip th {
  display: block;
}

.rtable--flip td {
  background-image: none !important;
  // border-collapse is no longer active
  border-left: 0;
}

// border-collapse is no longer active
.rtable--flip th:not(:last-child),
.rtable--flip td:not(:last-child) {
  border-bottom: 0;
}

.rtable-wrapper:not(.rtable-notsticky) {
  position: relative;
  overflow: auto;
  white-space: nowrap;
}
	
.rtable:not(.rtable-notsticky) th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
	
.rtable:not(.rtable-notsticky) th:first-child {
  position: sticky !important;
  position: -webkit-sticky !important;
	z-index: 1000;
	left: 0px !important;
	box-shadow: -2px 0px 2px -2px #777 inset;
}

.rtable:not(.rtable-notsticky) td:first-child {
  position: sticky !important;
  position: -webkit-sticky !important;
	z-index: 1000;
	left: 0px !important;
	box-shadow: -2px 0px 2px -2px #777 inset;
  background:white;
}
	
.rtable:not(.rtable-notsticky) td.average:first-child {
  background:#eee !important;
}
	
	
.rtable.captracker:not(.rtable-notsticky) th:nth-child(2) {
  position: sticky !important;
  position: -webkit-sticky !important;
	z-index: 1000;
	left: 52px !important;
	box-shadow: -2px 0px 2px -2px #777 inset;
}

.rtable.captracker:not(.rtable-notsticky) td:nth-child(2) {
  position: sticky !important;
  position: -webkit-sticky !important;
	z-index: 1000;
  background:white;
	left: 52px !important;
	box-shadow: -2px 0px 2px -2px #777 inset;
}
	
.rtable.teamcap:not(.rtable-notsticky) th:nth-child(2) {
  position: sticky !important;
  position: -webkit-sticky !important;
	z-index: 1000;
	left: 35px !important;
	box-shadow: -2px 0px 2px -2px #777 inset;
}

.rtable.teamcap:not(.rtable-notsticky) td:nth-child(2) {
  position: sticky !important;
  position: -webkit-sticky !important;
	z-index: 1000;
  background:white;
	left: 35px !important;
	box-shadow: -2px 0px 2px -2px #777 inset;
}
	

.datatable.rtable:not(.rtable-notsticky) td { border-bottom: none !important;}
.rtable:not(.rtable-notsticky):not(.rtable-nobkgd) tr:nth-of-type(odd) td.result:first-child, .rtable:not(.rtable-notsticky):not(.rtable-nobkgd) tr:nth-of-type(odd) td.result:nth-child(2)	{background:#ddd !important;}
.rtable.captracker:not(.rtable-notsticky) td:nth-child(1), .rtable.captracker:not(.rtable-notsticky) th:nth-child(1){width:1% !important;}
.rtable.captracker:not(.rtable-notsticky) td:nth-child(2), .rtable.captracker:not(.rtable-notsticky) th:nth-child(2){text-align:center;width:1% !important; }
.rtable:not(.rtable-notsticky):not(.rtable-nobkgd) tr:nth-of-type(odd) td.average:first-child, .rtable:not(.rtable-notsticky):not(.rtable-nobkgd) tr:nth-of-type(odd) td.average:nth-child(2){background:#eee !important;border-right:0px !important;box-shadow:none !important;}
  
.rtable th.player, .rtable td.player {text-align: left !important;}
.rtable td.player.center {text-align: center !important;}

	
table.rtable tr:nth-of-type(odd) td:first-child, .rtable.captracker:not(.rtable-notsticky) tr:nth-of-type(odd) td:nth-child(2), .rtable.teamcap:not(.rtable-notsticky) tr:nth-of-type(odd) td:nth-child(2) {
    background: rgba(224,239,255,1.00) none repeat scroll 0 0 !important;
}	

}

@media (max-width: 767px) {
.rtable.captracker:not(.rtable-notsticky) th:nth-child(2), .rtable.captracker:not(.rtable-notsticky) td:nth-child(2) {text-align: center !important;}
}
